<div class={{cls}}>
  <div class="my-event-item">
    {{#link-to "events.event" event.id}}
    <div class="my-event-item-inner">
      <div class="row event-item-name">
        <div class="col-xs-12">
          <div class="event-item-name">
            {{event.name}}
          </div>
        </div>
      </div>
      <div class="row my-event-item-val">
        <div class="col-xs-12">
          {{event.location}}
        </div>
      </div>
      <div class="row my-event-item-val">
        <div class="col-xs-12">
          {{event.time}}
        </div>
      </div>
      <div class="row my-event-item-val">
        <div class="col-xs-12">
          {{attendeeNumber}} going
        </div>
      </div>
    </div>

    <div class="row event-item-view">
      <div class="col-xs-12">
        <div class="my-event-lower-bar"></div>
      </div>
    </div>
    {{/link-to}}
  </div>
</div>

{{yield}}
