<div class="col-xs-12">
  <div class="event-detail">

    <div class="event-detail-top">
      <div class="row">
        <div class="col-xs-10">
          <div class="row">
            <div class="col-xs-12">
              <div class="event-detail-name">
                {{model.name}}
              </div>
            </div>
            <div class="col-xs-12">
              <div class="event-detail-time">
                {{model.time}}
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-2">
          <div class="event-detail-escape">
            {{#link-to "events"}}<i class="fa fa-times fa-2x" aria-hidden="true"></i> {{/link-to}}
          </div>
        </div>
      </div>
    </div>

    <div class="event-detail-main">
      <div class="row">
        <div class="col-xs-12">
          <div class="event-detail-description">
            {{model.description}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="event-detail-location">
            {{model.location}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="event-detail-sign">
            <button class="btn btn-event-detail">Sign <img src="logo white.png" height="50px"></button>
          </div>
        </div>
      </div>
    </div>

    <div class="event-detail-bottom">
    </div>
  </div>
</div>
{{liquid-outlet}}
