<div class="row">
  <div class="col-xs-12">
    {{#link-to 'events.index'}}
      <span class="glyphicon glyphicon-arrow-left"></span> Back to events
    {{/link-to}}
  </div>
</div>

<div class="center-block">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{model.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Location: {{model.location}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Time: {{model.time}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{model.description}}
    </div>
  </div>
</div>


{{liquid-outlet}}
