<div class="col-xs-12">
  <div class="event-detail">
    <div class="event-detail-top">
          <div class="event-detail-escape">
            {{#link-to "events"}}<i class="fa fa-times fa-2x" aria-hidden="true"></i> {{/link-to}}
          </div>
    </div>


    <div class="event-detail-main">


      <form>
        <div class="form-group">
          {{input class="form-control" placeholder="What? (Brief tagline of event)" id="name" value=model.name}}
        </div>

        <div class="form-group">
          {{input class="form-control" placeholder="When? (Dates and times)" id="time" value=model.time}}
        </div>

        <div class="form-group">
          {{input class="form-control" placeholder="Where? (Specific location)" id="location" value=model.location}}
        </div>

        <div class="form-group">
          {{textarea class="form-control textarea-override" placeholder="More about the event" rows=3 id="description" value=model.description}}
        </div>

        <div class="form-group">
          <div class="event-detail-sign">
            <button type="submit" class="btn btn-event-detail" {{action "submit"}}>Create event</button>
          </div>
        </div>
      </form>
    </div>

    <div class="event-detail-bottom">
    </div>

  </div>
</div>


{{liquid-outlet}}
