
<form style="margin: 30px">
  <div class="form-group">
    <h1> Create new event </h1>
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    {{input class="form-control" placeholder="Name" id="name" value=model.name}}
  </div>


  <div class="form-group">
    <label for="location">Location</label>
    {{input class="form-control" placeholder="Location" id="location" value=model.name}}
  </div>


  <div class="form-group">
    <label for="time">Time</label>
    {{input class="form-control" placeholder="Time" id="time" value=model.name}}
  </div>


  <div class="form-group">
    <label for="description">Description:</label>
    {{textarea class="form-control" rows=3 id="description" value=model.description}}
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success" {{action "submit"}}>Create event</button>
    <button type="cancel" class="btn btn-danger" {{action "cancel"}}>Cancel</button>
  </div>
</form>


{{liquid-outlet}}
